@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  background: #e2e7eb;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

#calculator {
  background: #fff;
  display: grid;
  grid-template-rows: 15px 75px repeat(5, 75px);
  grid-template-columns: repeat(4, 75px);
}

#display {
  background: #fff;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 5;
  padding: .5rem;
  font-size: 3em;
  text-align: right;
}

#display-small {
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 0 .5rem;
  text-align: right;
}

[data-all-clear],
[data-number="0"] {
  grid-column: 1 / 3;
}

button {
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-bottom: none;
  border-left: none;
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}

.operators {
  background-color: #ffd90b;
  border-right: none;
}
