@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  background: #e2e7eb;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

#calculator {
  border: 1px solid #444;
  border-bottom: none;
  background: #fff;
  display: grid;
  grid-template-rows: 15px 75px repeat(5, 75px);
  grid-template-columns: repeat(4, 75px);
}

#display {
  background: #fff;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 5;
  padding: .5rem;
  font-size: 3em;
  text-align: right;
}

#display-small {
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 0 .5rem;
  text-align: right;
}

.operators:nth-of-type(4) {
  border-right: none;
}

[data-equals] {
  background-color: #f88764;
  border-right: none;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 8;
}

button {
  background-color: #fff;
  border: 1px solid 444;
  border-top: none;
  border-left: none;
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}

.operators {
  border-top: 1px solid #444;
  background-color: #ffd90b;
}
